<Files .htaccess>
order allow,deny
deny from all
</Files>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]

#RewriteRule ^uploads/.*\.(php|rb|py)$ - [F,L,NC]
#RewriteRule ^attache/.*\.(php|rb|py)$ - [F,L,NC]
#RewriteRule ^images/.*\.(php|rb|py)$ - [F,L,NC]
#RewriteRule ^media/.*\.(php|rb|py)$ - [F,L,NC]

Options All -Indexes
